.form {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 820px) {
    flex-direction: column;
    flex-wrap: column;
    width: 80%;
  }
}

.form-item {
  flex-grow: 1;
}

.form-input {
  padding: 10px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: 1px solid #000;
  font-size: 16px;
}
